// Variables
$rutaImagen: "../img/";
$naranja: #d05a00;
$oscuro: #29241e;
$blanco: #fefff8;

@import "./modules/shared/burger";
@import "./modules/shared/nav";
@import "./modules/shared/footer";
@import "./modules/shared/columnaMovil";
@import "./modules/shared/fondoPrincipal";
@import "./modules/shared/body";
@import "./modules/shared/inputs";

body {
  @include nav;
  @include fondoPrincipal;
  @include footer;
}

#infoResumida {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  background: $blanco;

  @mixin elementoInformacion($url) {
    margin-bottom: 0.5em;
    &::before {
      content: url(#{$rutaImagen}#{$url});
      padding-right: 0.2em;
    }
  }

  #info {
    display: flex;

    #textoInfo {
      flex-grow: 1;
      flex-basis: 0;
    }
    #imgInfo {
      flex-grow: 1;
      flex-basis: 0;
      background-image: url(#{$rutaImagen}concierto-belako.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      font-weight: bold;
      font-size: 7vw;
      color: $blanco;
      text-align: center;
      text-shadow: -1px -1px 0 $oscuro, 1px -1px 0 $oscuro, -1px 1px 0 $oscuro,
        1px 1px 0 $oscuro;
      //overflow: hidden;

      #titulo {
        max-height: 3em;
        overflow: hidden;
      }
    }
  }
  #fecha {
    @include elementoInformacion("calendar.png");
  }
  #precio {
    @include elementoInformacion("euro.png");
  }
  #direccion {
    @include elementoInformacion("ubicacioon.png");
  }
}

#cajaInteraccionCompra {
  @include columnaMovil;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 0;
  }
}

#cajaDeCompra {
  display: flex;
  flex-direction: column;

  select {
    @include inputs;
    background: #fefff8;
    width: 4em;
  }
}

#pago {
  .metodos {
    margin-top: -1em;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input {
      width: 32%;
      max-width: 128px;
    }
  }
}

#resumen {
  @include columnaMovil;

  text-align: center;
  background-color: $blanco;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  .elementoPrecio {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: lighten($oscuro, 78%);
    border: solid $blanco 1px;
  }
}
