@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  color: #29241e;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  max-width: 100%; }
  body h2 {
    padding-left: 1.5em;
    padding-top: 0.2em; }
  body hr {
    margin-top: 2em;
    width: 88%; }
  body #precontenido {
    height: 50px; }

body {
  background-color: #fbffe4;
  background-image: -webkit-linear-gradient(top, white, #fbffe4 9%);
  background-image: -moz-linear-gradient(top, white, #fbffe4 9%);
  background-image: -ms-linear-gradient(top, white, #fbffe4 9%);
  background-image: -o-linear-gradient(top, white, #fbffe4 9%);
  background-image: linear-gradient(top, white, #fbffe4 9%); }
  body #principalNav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #fefff8;
    justify-content: space-between;
    position: fixed;
    height: 50px;
   /*
* Made by Erik Terwan
* 24th of November 2015
* All rights reserved
*
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/
    /*
     * Just a quick hamburger
     */
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    /*
     * But let's hide the middle one.
     */
    /*
     * Ohyeah and the last one should go the other direction
     */
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    /*
     * And let's slide it in from the left
     */ }
    body #principalNav #menuToggle {
      padding-left: .5em;
      display: block;
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
    body #principalNav #menuToggle input {
      display: block;
      width: 4em;
      height: 3em;
      position: absolute;
      top: -.6em;
      left: -.4em;
      cursor: pointer;
      opacity: 0;
      /* hide this */
      z-index: 3;
      /* and place it over the hamburger */
      -webkit-touch-callout: none; }
    body #principalNav #menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #29241e;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    body #principalNav z
    #menuToggle span:first-child {
      transform-origin: 0% 0%; }
    body #principalNav #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }
    body #principalNav #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
      background-color: #fefff8; }
    body #principalNav #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    body #principalNav #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
      background-color: #fefff8; }
    body #principalNav #menu {
      position: absolute;
      width: 11em;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      height: 10000px;
      background: #29241e;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      border: white solid .1em; }
    body #principalNav #menu li {
      padding: 10px 0;
      font-size: 22px;
      color: #fefff8; }
    body #principalNav #menuToggle input:checked ~ ul {
      transform: none;
      color: #fefff8; }
    body #principalNav a {
      transition: color 0.3s ease; }
      body #principalNav a:hover {
        color: tomato; }
  body h1 {
    color: #cc0000;
    font-family: "Open Sans", sans-serif; }
  body #btnPerfil {
    color: #232323;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    max-height: 100%;
    margin-right: 0.5em;
    margin-top: 0.2em; }
    body #btnPerfil img {
      border-radius: 50%;
      height: 33px; }
    body #btnPerfil p {
      line-height: 0px;
      margin-top: 6px;
      font-size: 0.7em;
      color: #29241e; }
  body footer #cajaCategorias {
    padding-left: 3%;
    padding-right: 3%;
    color: #645849;
    font-size: .95em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    body footer #cajaCategorias p {
      padding: .2em; }
  body footer #cajaIdiomas {
    padding: 6%;
    background-color: #29241e;
    color: #fefff8; }
    body footer #cajaIdiomas label {
      background-image: url(../img/idioma.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 1.2em;
      font-weight: bold;
      font-size: 0.9em;
      display: block;
      padding-left: 1.4em;
      padding-bottom: .2em;
      padding-top: .2em; }
    body footer #cajaIdiomas select {
      font-size: 1.4em;
      color: inherit;
      width: 100%;
      background: transparent;
      padding-left: 1em;
      margin-top: .2em; }
      body footer #cajaIdiomas select option {
        background-color: #29241e;
        color: #fefff8; }
  body footer #cajaSecciones {
    background-color: #29241e;
    padding-bottom: 2em; }
    body footer #cajaSecciones ul {
      list-style: none;
      margin: 0;
      color: #fefff8; }
      body footer #cajaSecciones ul li {
        font-size: 1.2em;
        line-height: 1.4em; }

#cajaDescripcionCuenta {
  margin-bottom: 1em;
  color: #fefff8;
  background-image: url(../img/forest.png);
  padding: 0.4em; }
  #cajaDescripcionCuenta .texto {
    margin-left: 7%;
    margin-right: 7%; }
  #cajaDescripcionCuenta .titulo {
    font-weight: bold;
    text-align: center; }
  #cajaDescripcionCuenta p {
    margin: 0.4em; }

#cajaRegistro {
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  flex-direction: column;
  width: 82%;
  margin-left: auto;
  margin-right: auto; }
  #cajaRegistro #btnTenerCuenta {
    color: #fefff8;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #d05a00;
    border: none;
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 92%;
    background-size: 1em; }
  #cajaRegistro form {
    padding: 0.3em;
    display: flex;
    flex-direction: column; }
    #cajaRegistro form input {
      padding: 0.4em;
      margin: 0.1em;
      font-size: 1.2em; }
    #cajaRegistro form #btnRegistro {
      margin-top: 0.4em;
      color: #fefff8;
      font-weight: bold;
      background-color: #ff7104;
      border: none; }

/*# sourceMappingURL=registro.css.map */
