@mixin eventoDestacado {
  .destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 100%;
    $blancoOscuro: darken($blanco, 1%);
    background-color: $blancoOscuro;
    img {
      width: inherit;
    }
    h3 {
      margin: 0;
      padding-top: 0.05em;
      text-align: left;
      width: inherit;
      background-color: $blanco;
    }
    .descripcion {
      font-size: 1.05em;
      margin: 0;
    }
    .cajaInformacion {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      $blancoOscuro: darken($blanco, 1%);
      margin-top: 0.4em;
      background-color: $blancoOscuro;

      address {
        max-height: 1.2em;
        padding-bottom: 0.7em;
        background-color: $blancoOscuro;
        &::before {
          content: url(#{$rutaImagen}ubicacion.png);
        }
      }
      .cuadroCompra {
        //padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1em;
        p {
          margin: 0;
          font-size: 0.9em;
          vertical-align: middle;

          &::before {
            content: url(#{$rutaImagen}calendar.png);
            margin-right: 0.5em;
          }
        }
        button {
          border: none;
          background-color: lighten($naranja, 5%);
          color: $oscuro;
          padding: 0.4em;
          .precio {
            font-size: 1.4em;
            font-weight: bold;
          }
        }
      }
    }
  }
}
