// Variables
$rutaImagen: "../img/";
$naranja: #D05A00;
$oscuro: #29241E;
$blanco: #FEFFF8;

@import "./modules/shared/burger";
@import "./modules/shared/nav";
@import "./modules/shared/footer";
@import "./modules/shared/columnaMovil";
@import "./modules/shared/fondoPrincipal";
@import "./modules/shared/body";
@import "./modules/shared/cajaAddEvento";


body {
    @include nav;
    @include fondoPrincipal;
    @include footer;
}

#evento {
    display: flex;
    flex-direction: column;
}

#tituloEvento {
    height: 8em;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(#{$rutaImagen}concierto-belako.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: $blanco;
    padding-top: 4em;
    h1 {
        color: inherit;
        text-align: center;
        text-shadow:
        -1px -1px 0 $oscuro,
        1px -1px 0 $oscuro,
        -1px 1px 0 $oscuro,
        1px 1px 0 $oscuro;
    }
}