@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans);
body {
  color: #29241E;
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin: 0px;
  max-width: 100%; }
  body h2 {
    padding-left: 1.5em;
    padding-top: 0.2em; }
  body hr {
    margin-top: 2em;
    width: 88%; }
  body #precontenido {
    height: 50px; }

body {
  background-color: #fbffe4;
  background-image: -webkit-linear-gradient(top, white, #fbffe4 9%);
  background-image: -moz-linear-gradient(top, white, #fbffe4 9%);
  background-image: -ms-linear-gradient(top, white, #fbffe4 9%);
  background-image: -o-linear-gradient(top, white, #fbffe4 9%);
  background-image: linear-gradient(top, white, #fbffe4 9%); }
  body #principalNav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #FEFFF8;
    justify-content: space-between;
    position: fixed;
    height: 50px;
   /*
* Made by Erik Terwan
* 24th of November 2015
* All rights reserved
*
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/
    /*
     * Just a quick hamburger
     */
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    /*
     * But let's hide the middle one.
     */
    /*
     * Ohyeah and the last one should go the other direction
     */
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    /*
     * And let's slide it in from the left
     */ }
    body #principalNav #menuToggle {
      padding-left: .5em;
      display: block;
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
    body #principalNav #menuToggle input {
      display: block;
      width: 4em;
      height: 3em;
      position: absolute;
      top: -.6em;
      left: -.4em;
      cursor: pointer;
      opacity: 0;
      /* hide this */
      z-index: 3;
      /* and place it over the hamburger */
      -webkit-touch-callout: none; }
    body #principalNav #menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #29241E;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    body #principalNav z
    #menuToggle span:first-child {
      transform-origin: 0% 0%; }
    body #principalNav #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }
    body #principalNav #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
      background-color: #FEFFF8; }
    body #principalNav #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    body #principalNav #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
      background-color: #FEFFF8; }
    body #principalNav #menu {
      position: absolute;
      width: 11em;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      height: 10000px;
      background: #29241E;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      border: white solid .1em; }
    body #principalNav #menu li {
      padding: 10px 0;
      font-size: 22px;
      color: #FEFFF8; }
    body #principalNav #menuToggle input:checked ~ ul {
      transform: none;
      color: #FEFFF8; }
    body #principalNav a {
      transition: color 0.3s ease; }
      body #principalNav a:hover {
        color: tomato; }
  body h1 {
    color: #cc0000;
    font-family: "Open Sans", sans-serif; }
  body #btnPerfil {
    color: #232323;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    max-height: 100%;
    margin-right: 0.5em;
    margin-top: 0.2em; }
    body #btnPerfil img {
      border-radius: 50%;
      height: 33px; }
    body #btnPerfil p {
      line-height: 0px;
      margin-top: 6px;
      font-size: 0.7em;
      color: #29241E; }
  body .cajaBuscar {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 1%; }
    body .cajaBuscar input {
      flex-grow: 8;
      border: 1px solid #29241E;
      height: 2.2em;
      padding-left: 1em;
      margin-left: 4%; }
    body .cajaBuscar button {
      border: none;
      flex-grow: 1.75;
      margin-left: 3%;
      margin-right: 2%;
      background-color: #FEFFF8;
      background-image: url(../img/search.png);
      background-size: 2.2em;
      background-repeat: no-repeat;
      background-position: center; }
  body footer #cajaCategorias {
    padding-left: 3%;
    padding-right: 3%;
    color: #645849;
    font-size: .95em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    body footer #cajaCategorias p {
      padding: .2em; }
  body footer #cajaIdiomas {
    padding: 6%;
    background-color: #29241E;
    color: #FEFFF8; }
    body footer #cajaIdiomas label {
      background-image: url(../img/idioma.png);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 1.2em;
      font-weight: bold;
      font-size: 0.9em;
      display: block;
      padding-left: 1.4em;
      padding-bottom: .2em;
      padding-top: .2em; }
    body footer #cajaIdiomas select {
      font-size: 1.4em;
      color: inherit;
      width: 100%;
      background: transparent;
      padding-left: 1em;
      margin-top: .2em; }
      body footer #cajaIdiomas select option {
        background-color: #29241E;
        color: #FEFFF8; }
  body footer #cajaSecciones {
    background-color: #29241E;
    padding-bottom: 2em; }
    body footer #cajaSecciones ul {
      list-style: none;
      margin: 0;
      color: #FEFFF8; }
      body footer #cajaSecciones ul li {
        font-size: 1.2em;
        line-height: 1.4em; }
  body #cajaRecomendados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch; }
    body #cajaRecomendados .evento {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #FEFFF8;
      margin: 1%;
      margin-bottom: .7em;
      flex: 0 0 48%; }
      body #cajaRecomendados .evento img {
        width: 100%; }
      body #cajaRecomendados .evento h4 {
        padding-left: 4%;
        font-size: 0.8em;
        margin: 0; }
      body #cajaRecomendados .evento button {
        color: #FEFFF8;
        font-weight: bold;
        align-self: flex-end;
        margin-right: 3%;
        padding-right: 1.5em;
        padding-top: .5em;
        padding-bottom: .5em;
        background-color: #D05A00;
        border: none;
        background-image: url(../img/right-arrow.png);
        background-repeat: no-repeat;
        background-position: 92%;
        background-size: 1em; }
  body #cajaAddEvento {
    color: #FEFFF8;
    border-radius: 3px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1.7em;
    padding-bottom: .5em;
    background-image: url(../img/forest.png);
    height: 15em;
    text-align: center;
    height: 100%; }
    body #cajaAddEvento .tituloAnuncio {
      font-size: 2em;
      padding-top: 1em;
      margin-bottom: 0; }
    body #cajaAddEvento .subtituloAnuncio {
      font-size: 1.7em; }
    body #cajaAddEvento button {
      font-size: 1.2em;
      color: inherit;
      background: transparent;
      border: #FEFFF8 solid 1px;
      padding-right: 1em;
      height: 2em;
      background-image: url(../img/right-arrow.png);
      background-repeat: no-repeat;
      background-position: 95%;
      background-size: .7em; }
  body a {
    text-decoration: none;
    color: #29241E; }

#eventosDestacados {
  background-image: url(../img/star.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 2em;
  margin-left: 7%;
  margin-right: 7%; }
  #eventosDestacados .destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 100%;
    background-color: #fdfff3; }
    #eventosDestacados .destacado img {
      width: inherit; }
    #eventosDestacados .destacado h3 {
      margin: 0;
      padding-top: 0.05em;
      text-align: left;
      width: inherit;
      background-color: #FEFFF8; }
    #eventosDestacados .destacado .descripcion {
      font-size: 1.05em;
      margin: 0; }
    #eventosDestacados .destacado .cajaInformacion {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 0.4em;
      background-color: #fdfff3; }
      #eventosDestacados .destacado .cajaInformacion address {
        max-height: 1.2em;
        padding-bottom: 0.7em;
        background-color: #fdfff3; }
        #eventosDestacados .destacado .cajaInformacion address::before {
          content: url(../img/ubicacion.png); }
      #eventosDestacados .destacado .cajaInformacion .cuadroCompra {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1em; }
        #eventosDestacados .destacado .cajaInformacion .cuadroCompra p {
          margin: 0;
          font-size: 0.9em;
          vertical-align: middle; }
          #eventosDestacados .destacado .cajaInformacion .cuadroCompra p::before {
            content: url(../img/calendar.png);
            margin-right: 0.5em; }
        #eventosDestacados .destacado .cajaInformacion .cuadroCompra button {
          border: none;
          background-color: #ea6500;
          color: #29241E;
          padding: 0.4em; }
          #eventosDestacados .destacado .cajaInformacion .cuadroCompra button .precio {
            font-size: 1.4em;
            font-weight: bold; }

#eventosRecomendados {
  background-image: url(../img/recomendado.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 2em;
  margin-left: 7%;
  margin-right: 7%; }

/*# sourceMappingURL=index.css.map */
